body{
  background-color: #DDE4F1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
/* logo HGS SYSTEM */
.logo-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /*background: url(/app/assets/images/system_logo.png);*/
}

.login-form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #DDE4F1;;
  border-radius: 8px;

}

.form-group {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-login {
  display: block;
  width: 105%;
  padding: 10px;
  font-size: 16px;
  background-color: #455297;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login:disabled {
  background-color: #455297;
  cursor: not-allowed;
}

/* back right */
.vector {
  position: absolute;
  left: 99.86%;
  right: -99.86%;
  top: 39.16%;
  bottom: 0.1%;

  transform: matrix(-1, 0, 0, 1, 0, 0);


  /* Vector */

  position: absolute;
  left: 1.98%;
  right: 95.89%;
  top: 96.46%;
  bottom: 0.11%;

  border-radius: 6px;
  transform: matrix(-1, 0, 0, 1, 0, 0);

}

.signUp{
  margin-top: 20px;
  margin-left: 70px;
}
a{
  margin-left: 15px;
  color: #455297;
}

